<div class="background2">

    <div class="container register derecha">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="/images/aplicaciondecasas.png" alt="" style=" max-width: 300px;
  width:100%;
  height: auto;
 " />
                <br>
                <h3>Ya tienes cuenta ?</h3>
                <br>
                <h6>Ingresa para encontrar la casa de tus sueños</h6>
                <a href="/auth/login">
                    <input type="submit" name="" value="Login" style="margin-top: 60px" /><br />
                </a>
            </div>
            <div class="col-md-9 register-right">

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">Registrar</h3>
                        <form action="/auth/register" method="POST">
                            <div class="row register-form">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Nombre" value=""
                                            name="username" />
                                    </div>
                                    <br>

                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Contraseña" value=""
                                            name="password" />
                                    </div>
                                    <br>


                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Email" value=""
                                            name="email" />
                                    </div>

                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Apellido" value=""
                                            name="surname" />
                                    </div>
                                    <br>

                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Confirma la Contraseña"
                                            value="" name="confirmPassword" />
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="form-group col-md-4 ">
                                            <select class="form-control" name="codTlf">
                                                <option>
                                                    +58
                                                </option>
                                                <option>+52</option>
                                                <option>+507</option>
                                                <option>+41</option>
                                                <option>+352</option>
                                                <option>+39</option>
                                                <option>+33</option>
                                                <option>+34</option>
                                                <option>+57</option>
                                                <option>+56</option>
                                                <option>+55</option>
                                                <option>+61</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-8">
                                            <input type="text" minlength="10" maxlength="10" name="telefono"
                                                class="form-control" placeholder="Telefono" value="" />
                                        </div>

                                    </div>

                                </div>
                                <br>

                                <div class="col-md-12">
                                    <br>
                                    <div class="form-group col-md-12">
                                        <input type="text" class="form-control" placeholder="Direccion" value=""
                                            name="direccion" />
                                    </div>


                                </div>

                                    <div class="col-md-6 text-right">

                                    </div>

                                <div class="col-md-6 ">
                                    <button type=" submit" class="btnRegister" value="Registrar">
                                        Registrar
                                    </button>

                                </div>





                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</div>

</div>